In [5]:
class Employee:
    def __init__(self, name, salary, years):
        self.__name = name
        self.__salary = salary
        self.__years = years
    
    def get_name(self):
        return self.__name
    
    def set_name(self, name):
        if name == '':
            print('Name cannot be empty')
            return
        self.__name = name
    
    def get_salary(self):
        return self.__salary

    def set_salary(self, salary):
        if salary < 0:
            print('Salary cannot be negative')
            return
        self.__salary = salary
    
    def get_years(self):
        return self.__years

    def set_years(self, years):
        if years < 0:
            print('Years of experience cannot be negative')
            return
        self.__years = years
    
    def show(self):
        print(f'Employee: {self.__name}, salary: ${self.__salary}, years of experience: {self.__years}')

In [6]:
paul = Employee('Paul', 50000, 3)
paul.show()

paul.set_name('Paul McCartney')
paul.set_salary(100000)
paul.set_years(10)

paul.show()

paul.set_name('')
paul.set_salary(-100000)
paul.set_years(-10)

paul.show()

Employee: Paul, salary: $50000, years of experience: 3
Employee: Paul McCartney, salary: $100000, years of experience: 10
Name cannot be empty
Salary cannot be negative
Years of experience cannot be negative
Employee: Paul McCartney, salary: $100000, years of experience: 10

In [11]:
class Company:
    def __init__(self, name):
        self.__name = name
        self.__employees = []
    
    def get_name(self):
        return self.__name
    
    def set_name(self, name):
        if name == '':
            print('Name cannot be empty')
            return
        self.__name = name
    
    def add_employee(self, employee):
        self.__employees.append(employee)
        print(f'Employeee {employee.get_name()} added to the company!')
    
    def remove_employee(self, name):
        for e in self.__employees:
            if e.name == name:
                self.__employees.remove(e)
                print(f'Employee {name} removed from the company!')
                return
        print(f'Employee {name} not found in the company!')
    
    def show(self):
        print(f'Company: {self.__name}')
        print('Employees:')
        for e in self.__employees:
            e.show()
    
    def raise_salary(self, employee, amount):
        old_salary = employee.get_salary()
        new_salary = old_salary + amount
        employee.set_salary(new_salary)

In [13]:
john = Employee('John', 60000, 5)
paul = Employee('Paul', 50000, 3)
mike = Employee('Mike', 70000, 7)
anna = Employee('Anna', 40000, 2)

apple = Company('Apple')
apple.add_employee(john)
apple.add_employee(paul)
apple.add_employee(mike)
apple.add_employee(anna)

apple.show()

Employeee John added to the company!
Employeee Paul added to the company!
Employeee Mike added to the company!
Employeee Anna added to the company!
Company: Apple
Employees:
Employee: John, salary: $60000, years of experience: 5
Employee: Paul, salary: $50000, years of experience: 3
Employee: Mike, salary: $70000, years of experience: 7
Employee: Anna, salary: $40000, years of experience: 2

In [14]:
apple.raise_salary(john, 10000)
apple.show()

Company: Apple
Employees:
Employee: John, salary: $70000, years of experience: 5
Employee: Paul, salary: $50000, years of experience: 3
Employee: Mike, salary: $70000, years of experience: 7
Employee: Anna, salary: $40000, years of experience: 2